*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
    
}


h1 {
    font-size: 48px;
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
  }  

.contents1{
    font-size: 20px;
    font-weight: lighter;
}
.result{
    font-size: 24px;
}

.intro_bg{
    background-image:url("image/head_new.png");
    width: 1920px;
    height: 718px;
}

.header{
    display:flex;
    width:1280px;
    margin:auto;
    background: rgba(0,0,0,0.0);
    height:86px;
}
.searchArea{
    width:300px;
    height:40px;
    background:rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;
}
.searchArea > form > input{
    border:none;
    width:250px;
    height:40px;
    background:rgba(0,0,0,0.0);
    color: #fff;
    padding-left:10px;
}

.searchArea > form > span{
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width:calc(1280px - 300px);

}

.nav > li{
    margin-left: 84px;
    color: #fff;
}

.nav > li > a{
    color: #fff;
}

.intro_text{
    width:100%;
    margin:131px auto 231px auto;
    text-align: center;

}

.intro_text > h1 {
    color:#fff;
}
.intro_text > h3 {
    color: #fff;
}

.amount{
    position: relative;
    top:70px;
    display: flex;
    width: 1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin: auto
}

.amount > li {
    flex: 1;
    height: 150px;
}

.amount > li > div {
    text-align: center;
    height: 57px;
    margin-top:24px;
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1 ; 
}

.amount > li > div > span{
    border:none;
    width:250px;
    height:40px;
    background:red;
    color: white;
    padding-left:5px;
    padding-right:5px;
    border-radius: 3px;
}

/*main-text 0*/
.main_text0{
    width: 100%;
    height:1000px;
    background: #f1f2f3;
  }
  .main_text0 > h1{
    padding-top:116px;
    text-align: center;
  }
  .main_text0 > .contents1 {
    text-align: center;
  }
  
.icons{
    display: flex;
    width:1280px;
    height: 302px;
    /* background: orange; */
    margin:auto;
  }
  .icons > li {
    flex: 1;
    background: white;
    margin-top:49px;
    height:240px;
    text-align: center;
  }
  .icons > li > .icon_img{
    margin-top:18px;
  }
  
  .icons > li:not(:last-child){
    margin-right: 20px;
  }

.keynote{
    flex:1;
    margin-left: 319px;
    width: 1280px;
    margin-top: 18px;
    height: 400px;
    background: white;

}

.keynote > .keynote_contents {
    padding: 40px;
}

  /*main_text1*/
  .main_text1 {
      width: 100%;
      height: 659px;
  }
  
  .main_text1 > h1 {
      padding-top: 50px;
      text-align: center;
  }

  .main_text1 > .contents1 {
      text-align: center;
  }

  .main_text1 > .press {
      width: 1280px;
      display: flex;
      margin: 49px auto;
      height: 427px;
  }

.press > .press_cont {
    padding: 20px;
 }


.press > .press_cont > h3 {
    margin-bottom: 27px;
}

.press > .press_cont > h4 {
    margin-bottom: 27px;
}



/* main_text2 */
/* .main_text2 {
    width:100%;
    height:418px;
    background-image: url("image/contact.png");
  }
  
  .main_text2 > ul {
    display: flex;
    padding-top:138px;
  }
  
  .main_text2 > ul > li {
    flex: 1;
    text-align: center;
  }
  .main_text2 > ul > li > div,
  .main_text2 > ul > li > div > h1{
    color: #fff;
  } */

  .footer{
    display: flex;
    background: #1f1f1f;
    padding:30px;
    font-size: 12pt;
  }
  .footer > div:first-child {
    flex:3;
    text-align: center;
    color: #fff;
  }
  .footer > div:last-child {
    flex:9;
    color: #fff;
  }
  
  .footer > div > h1 {
      color: gray;
  }